<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h2>Admin Panel</h2>

<form action="/admin" method="post">

<label>Username</label>
<input name="username" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">Login</button>

</form>

<!-- ERROR MESSAGE -->
<p style="color:red; margin-top:10px;"
   th:if="${error}"
   th:text="${error}">
</p>

</div>

</body>
</html>